body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
            box-sizing: border-box;
            padding-left: 2%;
            padding-right: 2%;
            background-color:white;
        }
        .navbar {
            display: flex;
            align-items: center;
        }

        ul > li > a {
            font-size: 18px;
            color: dimgrey;
        }

        ul > li > a:hover {
            font-size: 18px;
            color: grey;
        }

        nav {
            margin-left: auto; 
        }
        nav ul li {
            display: inline;
            margin-left: 15px;
            list-style: none;   
        }
        img {
            height: 33px;
            width: 158px;
            padding: 5px;
        }
        a {
            text-decoration:none;
            color: black;
        }

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="password"],
select {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 15px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}