<!DOCTYPE html>
<html>
    <head>
        <title>AirHunter</title>
        <link rel="stylesheet" href="/static/home.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <a href="/"><img src="https://side-project-flights-bucket.s3.ap-southeast-2.amazonaws.com/imgs/new_logo.png"></a>
                <nav style="margin-left: 0">
                    <ul>
                        <li><a href="{{ url_for('search_price') }}">搜機票</a></li>
                        <li><a href="/dashboard">看趨勢</a></li>
                        <li><a href="/user/favorites">票價追蹤</a></li>
                    </ul>
                </nav>
                <nav>
                    <ul>
                        {% if current_user.is_authenticated %}
                        <li><a style="color: #333;">Hi, {{ current_user.username }}</a></li>
                        <li><a href="{{ url_for('logout') }}">登出</a></li>
                        {% else %}
                        <li><a href="{{ url_for('login') }}">登入</a></li>
                        <li><a href="{{ url_for('register') }}">註冊</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div> 
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
                <p align="center" style="color:#007bff;">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %} 
        <div class="background-container">
            <div class="wallpaper">
                <p style="color: black;" class="title">出發！開始你的旅程</p>
                <div class="search-box">
                    <form action="{{ url_for('get_flight_lists') }}" method="GET">
                        <div class="first-raw" id="scheduleSelect" style="display: flex; padding: 10px; justify-content: left;">
                            <div>
                                <label>國內</label>
                            </div>
                            <div>
                                <input type="radio" id="one-way-btn" name="schedule" value="oneWay" checked="true">
                                <label for="one-way">單程</label>
                            </div>
                            <div>
                                <input type="radio" id="return-btn" name="schedule" value="return">
                                <label for="return">來回</label>
                            </div>
                            
                        </div>
                        <div class="second-raw" style="display: flex; padding: 10px; justify-content: left;">
                            <div style="margin: 5px;">
                                <label for="from">出發地</label></br>
                                <select class="from-to" id="from-selector" name="departureAirports" required>
                                    <option value="">請選擇</option>
                                    <option value="TSA">台北松山機場 TSA</option>
                                    <option value="KHH">高雄小港國際機場 KHH</option>
                                    <option value="HUN">花蓮機場 HUN</option>
                                    <option value="TTT">台東豐年機場 TTT</option>
                                    <option value="TNN">台南機場 TNN</option>
                                    <option value="RMQ">台中清泉崗機場 RMQ</option>
                                    <option value="CYI">嘉義水上機場 CYI</option>
                                    <option value="MZG">澎湖機場 MZG</option>
                                    <option value="KNH">金門尚義機場 KNH</option>
                                    <option value="MFK">馬祖(北竿)機場 MFK</option>
                                    <option value="LZN">馬祖(南竿)機場 LZN</option>
                                </select>
                            </div>
                            <div style="margin: 5px;">
                                <label for="to">目的地</label></br>
                                <select class="from-to" id="to-selector" name="arriveAirports" required>
                                </select>
                            </div>
                            <div style="margin: 5px;">
                                <label for="depart_date">去程</label></br>
                                <input type="date" id="depart_date" name="departureDates" required>
                            </div>
                            <div style="margin: 5px;"> 
                                <label for="return_date" id="returnDateLabel" style="display: none;">回程</label></br>
                                <input type="date" id="return_date" name="returnDates" style="display: none;">
                            </div>   
                            <div style="position: relative;">
                                <button type="submit" id="search">搜尋</button> 
                            </div> 
                        </div>
                    </form>
                </div>
            </div>
        </div>  

        <div class="title"><h3 class="function-list-title" style="color: black; font-size: 30px;">熱門功能</h3></div>
        <div class="function-list">
            <a href="/dashboard">
                <div class="function-item">
                    <h4>趨勢圖表</h4>
                    <p>提供視覺化圖表，快速查找最便宜的票價</p>
                </div>
            </a>
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('favorites_list') }}">
            {% else %}
            <a href="{{ url_for('login') }}">
            {% endif %}
                <div class="function-item">
                    <h4>航班追蹤</h4>
                    <p>建立價格變動通知，即時掌握便宜票價</p>
                </div>
            </a>
        </div>

        <div class="title"><h3 class="recommend-item-list-title" style="color: black; font-size: 30px;"></h3></div>
        <div class="recommend-item-list"></div>

        <div class="title"><h3 style="color: black; font-size: 30px;">從台北出發，探索國內景點</h3></div>
        <div class="explore">
            <div id="map"></div>
            <div id="info">
                <p id="info-text"></p>
            </div>
        </div>
       

        <footer id="footer" style="margin-top: 50px;">
            <div class="web-info">
                <p style="color: white;">Contact me</p>
                <a href="https://github.com/TH-tinghsuan">Github</a>
                <a href="https://www.linkedin.com/in/ting-hsuan-lin-林庭萱-1509b31aa/">Linkedin</a>
            </div>
            <div class="copy-right">
                <p style="color: white;">© 2023 AirHunter All rights reserved.</p>
            </div>
        </footer>

        <script src="/static/home.js"></script>
       <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9f8xvUYvpcttU6A5vw_S9TcS02sFeVfE&callback=initMap" async defer></script>
  
    </body>

</html>