<!DOCTYPE html>
<html>
    <head>
        <title>AirHunter | 機票比價結果</title>
        <link rel="stylesheet" href="/static/outcome.css">
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <a href="/"><img id="logo-img" src="https://side-project-flights-bucket.s3.ap-southeast-2.amazonaws.com/imgs/new_logo.png"></a>
                <nav style="margin-left: 0">
                    <ul>
                        <li><a href="{{ url_for('search_price') }}">搜機票</a></li>
                        <li><a href="/dashboard">看趨勢</a></li>
                        <li><a href="/user/favorites">票價追蹤</a></li>
                    </ul>
                </nav>
                <nav>
                    <ul>
                        {% if current_user.is_authenticated %}
                        <li><a style="color: #333;">Hi, {{ current_user.username }}</a></li>
                        <li><a href="{{ url_for('logout') }}">登出</a></li>
                        {% else %}
                        <li><a href="{{ url_for('login') }}">登入</a></li>
                        <li><a href="{{ url_for('register') }}">註冊</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div> 
        </div> 
        <!-- 單程 -->
        {% if flight_info %}
            {% if schedule == "oneWay" %}
            <div id="title" style="background-color: lightblue; max-width: 900px; margin: 20px auto; padding: 20px; border-radius: 5px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
                <div id="page-link">
                    <a href="/search"><img src="https://side-project-flights-bucket.s3.ap-southeast-2.amazonaws.com/imgs/undo.png"></a>
                    <a href="/home"><img src="https://side-project-flights-bucket.s3.ap-southeast-2.amazonaws.com/imgs/home.png"></a>
                </div>
                <div id="city_name">
                    <span style="font-size: 35px; font-weight:bold;">{{ depart["city_name"] }} - {{ arrive["city_name"] }}</span>
                    <span style="font-size: 20px; font-weight:bold;">單程</span>    
                </div>
                <div id="date">
                    <span style="font-size: 15px;"">{{date}}</p>
                </div>
                {% if current_user.is_authenticated %}
                    <div style="text-align: right;">
                        <button id="favoriteBtn">
                            追蹤票價
                        </button>
                    </div>
                {% endif %}
            </div>   
                {% for item in flight_info %}
                    <div id="item">
                        <div id="go">
                            <div id="airline-img">
                                <img src="{{ item['airline_img'] }}">
                            </div>
                            <div>
                                <div id="time-info" style="font-weight:bold; font-size: 18px;">
                                    <span>{{ item["depart_time"] }}</span>
                                    <span> - </span>
                                    <span>{{ item["arrive_time"] }}</span>
                                </div>
                                <div id="airport-info" style="color: gray; font-size: 16px;">
                                    <span>{{ item["depart_airport"]["IATA_code"] }}</span>
                                    <span>{{ item["depart_airport"]["airport_name"] }}</span>
                                    <span> - </span>
                                    <span>{{ item["arrive_airport"]["IATA_code"] }}</span>
                                    <span>{{ item["arrive_airport"]["airport_name"] }}</span>
                                </div>
                            </div>
                            <div id="type">
                                <p>{{item["type"]}}</p>
                            </div>
                            <div id="duration">
                                <p>{{item["duration"]}}</p>
                            </div>    
                        </div>
                        <div style="display: flex; justify-content: flex-end; padding: 0 20px;">
                            <div id="airline" style="margin-right: auto;">
                                <p style="color: grey; margin: 0; padding-top: 15px; font-size: 15px;">{{ item["airline"]}}</p>
                            </div>
                            <div id="min-price">
                                <p style="font-weight:bold; margin: 0; padding-top: 15px;">
                                    <a>NTD$ {{ item["minPrice"]}} 起 ⌵</a>
                                </p>
                            </div>
                        </div>
                        <div id="price-info" style="padding: 0 20px; display: none;">
                            {% for i in item["items"]%}
                            <hr size=1 style="color:lightgrey; border-style:dashed; width:490">
                            <div id="agent" style="display: flex; justify-content: flex-end; padding: 5px;">
                                <span style="margin-right: auto;">{{ i["agentName"]}}</span>
                                <div>
                                    <span>NTD$ {{ i["price"] }} </span>
                                    <button class="direct-btn" id="{{i["agentName"] +"-"+item["flight_code"] }}">前往</button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            <!-- 單程 -->
            <!-- 來回 -->
            {% elif schedule == "return" %}
                <div id="title" style="background-color: lightblue; max-width: 900px; margin: 20px auto; padding: 20px; border-radius: 5px;">
                    <div id="page-link">
                        <a href="/search"><img src="https://side-project-flights-bucket.s3.ap-southeast-2.amazonaws.com/imgs/undo.png"></a>
                        <a href="/home"><img src="https://side-project-flights-bucket.s3.ap-southeast-2.amazonaws.com/imgs/home.png"></a>
                    </div>
                    <div id="city_name">
                        <span style="font-size: 35px; font-weight:bold;">{{ depart["city_name"] }} - {{ arrive["city_name"] }}</span>
                        <span style="font-size: 20px; font-weight:bold;">來回</span>    
                    </div>
                    <div id="date">
                        <span style="font-size: 15px;""> {{ dp_date }} - {{ rt_date }}</p>
                    </div>
                    {% if current_user.is_authenticated %}
                    <div style="text-align: right;">
                        <button id="favoriteBtn">
                            追蹤票價
                        </button>
                    </div>
                    {% endif %}
                </div>   
                {% for item in flight_info %}
                    <div id="item">
                        <div id="go">
                            <div id="airline-img">
                                <img src="{{ item['go_airline_img'] }}">
                            </div>
                            <div>
                                <div id="time-info" style="font-weight:bold; font-size: 18px;">
                                    <span>{{ item["go_depart_time"] }}</span>
                                    <span> - </span>
                                    <span>{{ item["go_arrive_time"] }}</span>
                                </div>
                                <div id="airport-info" style="color: gray; font-size: 16px;">
                                    <span>{{ item["go_depart_airport"]["IATA_code"] }}</span>
                                    <span>{{ item["go_depart_airport"]["airport_name"] }}</span>
                                    <span> - </span>
                                    <span>{{ item["go_arrive_airport"]["IATA_code"] }}</span>
                                    <span>{{ item["go_arrive_airport"]["airport_name"] }}</span>
                                </div>
                                <div id="flight_code" style="display: none;">
                                    <span>item['go_flight_info']</span>
                                </div>
                            </div>
                            <div id="type">
                                <p>{{item["go_type"]}}</p>
                            </div>
                            <div id="duration">
                                <p>{{item["go_duration"]}}</p>
                            </div>    
                        </div>
                        <div id="back">
                            <div id="airline-img">
                                <img src="{{ item['back_airline_img'] }}">
                            </div>
                            <div>
                                <div id="time-info" style="font-weight:bold; font-size: 18px;">
                                    <span>{{ item["back_depart_time"] }}</span>
                                    <span> - </span>
                                    <span>{{ item["back_arrive_time"] }}</span>
                                </div>
                                <div id="airport-info" style="color: gray; font-size: 16px;">
                                    <span>{{ item["back_depart_airport"]["IATA_code"] }}</span>
                                    <span>{{ item["back_depart_airport"]["airport_name"] }}</span>
                                    <span> - </span>
                                    <span>{{ item["back_arrive_airport"]["IATA_code"] }}</span>
                                    <span>{{ item["back_arrive_airport"]["airport_name"] }}</span>
                                </div>
                                <div id="flight_code" style="display: none;">
                                    <span>item['back_flight_info]</span>
                                </div>
                            </div>
                            <div id="type">
                                <p>{{item["back_type"]}}</p>
                            </div>
                            <div id="duration">
                                <p>{{item["back_duration"]}}</p>
                            </div>    
                        </div>
                        <div style="display: flex; justify-content: flex-end; padding: 0 20px;">
                            <div id="airline" style="margin-right: auto;">
                                <p style="color: grey; margin: 0; padding-top: 15px; font-size: 15px;">{{ item["back_airline"]}}</p>
                            </div>
                            <div id="min-price">
                                <p style="font-weight:bold; margin: 0; padding-top: 15px;">
                                    <a>NTD$ {{ item["minPrice"]}} 起 ⌵</a>
                                </p>
                            </div>
                        </div>
                        <div id="price-info" style="padding: 0 20px; display: none;">
                            {% for i in item["items"]%}
                            <hr size=1 style="color:lightgrey; border-style:dashed; width:490">
                            <div id="agent" style="display: flex; justify-content: flex-end; padding: 5px;">
                                <span style="margin-right: auto;">{{ i["agentName"]}}</span>
                                <div>
                                    <span>NTD$ {{ i["price"] }} </span>
                                    <button class="direct-btn" id="{{i["agentName"] +"-"+item["go_flight_info"]+"-"+item["back_flight_info"] }}">前往</button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% else %}
            {% if response_text %}
                <div id="not-found-img">
                    <img src="../static/not_found.png" alt="Bad request">
                </div>
            {% else %}
                <div id="item">
                    <p style="text-align: center">沒有符合的結果</p>
                </div>
            {% endif %}
        {% endif %}
        <footer id="footer" style="margin-top: 50px;">
            <div class="web-info">
                <p style="color: white;">Contact me</p>
                <a href="https://github.com/TH-tinghsuan">Github</a>
                <a href="www.linkedin.com/in/ting-hsuan-lin-林庭萱-1509b31aa">Linkedin</a>
            </div>
            <div class="copy-right">
                <p style="color: white;">© 2023 AirHunter All rights reserved.</p>
            </div>
        </footer>

    <!--引用jQuery-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--引用jQuery BlockUI-->
    <script type="text/javascript" src="https://malsup.github.io/jquery.blockUI.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/static/outcome.js"></script>
    </body>
</html>