<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>加入！成為新會員</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href="/"><img src="https://side-project-flights-bucket.s3.ap-southeast-2.amazonaws.com/imgs/new_logo.png"></a>
            <nav style="margin-left: 0">
                <ul>
                    <li><a href="{{ url_for('search_price') }}">搜機票</a></li>
                    <li><a href="/dashboard">看趨勢</a></li>
                    <li><a href="/user/favorites">票價追蹤</a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    {% if current_user.is_authenticated %}
                    <li><a style="color: #333;">Hi, {{ current_user.username }}</a></li>
                    <li><a href="{{ url_for('logout') }}">登出</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">登入</a></li>
                    <li><a href="{{ url_for('register') }}">註冊</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div> 
    </div> 
    <h1>註冊</h1>
    <form action="{{ url_for('register') }}" method="post">
        
        <label for="from">電子郵件</label>
        <input type="text" id="from" name="account" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" oninput="setCustomValidity('')" oninvalid="setCustomValidity('請輸入有效的電子郵件格式')"><br>

        <label for="userName">使用者</label>
        <input type="text" id="from" name="userName" required><br>

        <label for="password">密碼</label>
        <input type="password" id="inputPassword" name="password" required pattern="^(?=.*[a-zA-Z])(?=.*[0-9]).{6,}$" oninput="setCustomValidity('')" oninvalid="setCustomValidity('至少要使用 6 個位元，至少一個英文字元，至少一個數字')"><br>

        <label for="password_confirm">確認密碼</label>
        <input type="password" id="ConfirmPassword" name="password_confirm" required oninput="setCustomValidity('')" onchange="if(document.getElementById('inputPassword').value != document.getElementById('ConfirmPassword').value){setCustomValidity('前/後密碼不一致');}"><br>
        <p>已經有帳號了嗎？點此<a href="/user/login" style="color: #007bff;">登入</a></p>
        <button type="submit">註冊</button>
    </form>
</body>
</html>