<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirHunter | 機票比價</title>
    <link rel="stylesheet" href="/static/search.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href="/"><img src="https://side-project-flights-bucket.s3.ap-southeast-2.amazonaws.com/imgs/new_logo.png"></a>
            <nav style="margin-left: 0">
                <ul>
                    <li><a href="{{ url_for('search_price') }}">搜機票</a></li>
                    <li><a href="/dashboard">看趨勢</a></li>
                    <li><a href="/user/favorites">票價追蹤</a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    {% if current_user.is_authenticated %}
                    <li><a style="color: #333;">Hi, {{ current_user.username }}</a></li>
                    <li><a href="{{ url_for('logout') }}">登出</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">登入</a></li>
                    <li><a href="{{ url_for('register') }}">註冊</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div> 
    </div> 
    <div class="search-box">
        <div>
            <h3>快速比價找出便宜機票！</h3>
        </div>
        <form action="{{ url_for('get_flight_lists') }}" method="GET">
            <div class="first-raw" id="scheduleSelect" style="display: flex; margin: 5px;">
                <div>
                    <label>國內</label>
                </div>
                <div>
                    <input type="radio" id="one-way-btn" name="schedule" value="oneWay" checked="true">
                    <label for="one-way">單程</label>
                </div>
                <div>
                    <input type="radio" id="return-btn" name="schedule" value="return">
                    <label for="return">來回</label>
                </div>  
            </div>
            <div class="second-raw" style="margin: 5px;">
                <div style="display: flex; margin-top: 5px; margin-bottom: 5px;">
                    <label style="margin-right: 20px;" for="from">出發地</label></br>
                    <select class="from-to" id="from-selector" name="departureAirports" required>
                        <option value="">請選擇</option>
                        <option value="TSA">台北松山機場 TSA</option>
                        <option value="KHH">高雄小港國際機場 KHH</option>
                        <option value="HUN">花蓮機場 HUN</option>
                        <option value="TTT">台東豐年機場 TTT</option>
                        <option value="TNN">台南機場 TNN</option>
                        <option value="RMQ">台中清泉崗機場 RMQ</option>
                        <option value="CYI">嘉義水上機場 CYI</option>
                        <option value="MZG">澎湖機場 MZG</option>
                        <option value="KNH">金門尚義機場 KNH</option>
                        <option value="MFK">馬祖(北竿)機場 MFK</option>
                        <option value="LZN">馬祖(南竿)機場 LZN</option>
                    </select>
                </div>
                <div style="display: flex; margin-top: 5px; margin-bottom: 5px;">
                    <label style="margin-right: 20px;" for="to">目的地</label></br>
                    <select class="from-to" id="to-selector" name="arriveAirports" required>
                    </select>
                </div>
                <div style="display: flex; margin-top: 5px; margin-bottom: 10px;">
                    <label style="margin-right: 35px;" for="depart_date">去程</label></br>
                    <input type="date" id="depart_date" name="departureDates" required>
                </div>
                <div style="display: flex; margin-top: 5px; margin-bottom: 10px;"> 
                    <label for="return_date" id="returnDateLabel" style="display: none; margin-right: 35px;">回程</label></br>
                    <input type="date" id="return_date" name="returnDates" style="display: none;">
                </div>   
                <div>
                    <button type="submit" id="search">搜尋</button> 
                </div> 
            </div>
        </form>
    </div>   
    <footer id="footer" style="margin-top: 50px;">
        <div class="web-info">
            <p style="color: white;">Contact me</p>
            <a href="https://github.com/TH-tinghsuan">Github</a>
            <a href="https://www.linkedin.com/in/ting-hsuan-lin-林庭萱-1509b31aa/">Linkedin</a>
        </div>
        <div class="copy-right">
            <p style="color: white;">© 2023 AirHunter All rights reserved.</p>
        </div>
    </footer>
    <script src="static/search.js"></script>
</body>
</html>
